@font-face {
  font-family: 'Perfect DOS VGA';
  src: url('./assets/PerfectDOSVGA437.eot');
  src: url('./assets/PerfectDOSVGA437.eot?#iefix') format('embedded-opentype'),
      url('./assets/PerfectDOSVGA437.woff2') format('woff2'),
      url('./assets/PerfectDOSVGA437.woff') format('woff'),
      url('./assets/PerfectDOSVGA437.ttf') format('truetype'),
      url('./assets/PerfectDOSVGA437.svg#PerfectDOSVGA437') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url('./assets/bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: calc(100% - 10vw);
  max-width: 800px;
}

.window-body {
    margin: 0 !important;
}

.window-body > span,
.window-body > span > div {
    display: flex !important;
    width: 100%;
}

.title-bar-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

textarea#cmd {
    background: black;
    color: white;
    font-size: 16px;
    margin: 0;
    margin-bottom: -2px;
    resize: vertical;
    min-height: 176px !important;
    max-height: 320px !important;
    font-family: "Perfect DOS VGA", Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace !important;
    width: 100% !important;
}

textarea::selection {
  background: white;
  color: black;
}

textarea::-moz-selection {
  background: white;
  color: black;
}

textarea::-webkit-selection {
  background: white;
  color: black;
}

@media all and (max-width: 768px) {
  pre, pre * {
    overflow: auto !important;
    white-space: -moz-pre-wrap !important;
    white-space: normal !important;
  }
  pre > div > span > span {
    display: none !important;
  }
}


    .react-draggable, .cursor {
      cursor: move;
    }
    .no-cursor {
      cursor: auto;
    }
    .cursor-y {
      cursor: ns-resize;
    }
    .cursor-x {
      cursor: ew-resize;
    }